<div class=''>
    </ul>
    <h4><%= _("Merge with article") %></h4>
    <%= form_tag("/admin/content/merge", :method => "post") do %>
      <% hidden_field_tag 'prev_id',  %>
      <div class='class'>
        Article ID <%= text_field_tag :merge_with, nil, :style => 'width: 20%' %>
      <div>
      <br/>
      <%= hidden_field_tag 'article_id', params[:id] %>    
      <%= submit_tag("Merge") %>
    <% end %>
</div>    
